@page  "/reading/{ReadingType}"
@inject HttpClient _client

<div class="text-center">
    <h2 class="display-4 fw-normal">@ReadingType.ToTitle()</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
            @if (_model != null)
            {
                @foreach (var draw in _model.Draws)
                {
                    <div class="col-4 p-2">
                        <Card Model="@draw"></Card>
                    </div>
                }
            }
        </div>
    </div>
    <p>
        <a href="#" class="btn  btn-outline-light p-2 m-2">Home</a>
    </p>
</div>

@code {
    private ReadingViewModel _model;

    [Parameter]
    public string ReadingType { get; set; }

    protected override async Task OnParametersSetAsync() => await GetTarotReading();

    private async Task GetTarotReading() =>
        _model = await _client.GetFromJsonAsync<ReadingViewModel>(Constants.ReadEndpoint.Replace("readingType", ReadingType), Constants.DefaultJsonSerializerOptions);

}
