<div class="card text-center bg-dark">
    <div class="card-header justify-contents-center">
        <h6>What question does this card answer?</h6>
        <h1>@CardName</h1>
    </div>
    <div class="card-body justify-contents-center">
            <img src="https://upload.wikimedia.org/wikipedia/en/d/d2/RWS_Tarot_03_Empress.jpg"
                 class="img-thumbnail"
                 width=250
                 alt="...">
    </div>
    <div class="card-footer justify-contents-center">
        <h3>Key Words</h3>
        <h6>Words, Words, Words</h6>
    </div>
</div>

@code {
    [Parameter]
    public string CardName { get; set; }
}
