@inherits LayoutComponentBase

<style>
    body {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-color: #343a40;
        overflow: hidden;
    }
</style>

<div class="full-height">
    <div class="d-flex h-100 text-center page bg-dark text-white">
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</div>